<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Back to character's list</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home "></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="6" sizeXl="6" offsetLg="3" offsetXl="3" class="ion-padding">
        <ion-card class="ion-text-center ion-padding-top">
          <img class="character-image" alt="{{character?.name}} picture" src="{{character?.image}}" />
          <ion-card-header>
            <ion-card-title>{{character?.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>About the character</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <p><strong>Name</strong> {{character?.name}}</p>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <div class="badge-container">
                        <p><strong>Gender: </strong></p>
                        <ion-badge class="badge-pill" color="light">
                          <div class="circle"></div>
                          Gender
                        </ion-badge>
                      </div>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <p><strong>First View</strong> {{character?.origin.name}}</p>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <p><strong>Last View</strong> {{character?.location.name}}</p>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <div class="badge-container">
                        <p><strong>Status: </strong></p>
                        <ion-badge class="badge-pill" color="light">
                          <div class="circle"></div>
                          Status
                        </ion-badge>
                      </div>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <p><strong>Specie:</strong> {{character?.species}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>


            </ion-card>

            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Episode List</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-list class="list-container">
                  <ion-item *ngFor="let episode of characterEpisodes; let index">
                    <ion-label>
                      <p><strong>Name:</strong> {{ episode.name }}</p>
                      <p><strong>Episode:</strong> {{ episode.episode }}</p>
                      <p><strong>Air Date:</strong> {{ episode.air_date }}</p>
                    </ion-label>
                  </ion-item>

                </ion-list>
                <!--
                <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="getEpisode(episode)">
                  <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more characters...">
                  </ion-infinite-scroll-content>
                </ion-infinite-scroll> -->
              </ion-card-content>

            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="ion-padding">
    <div class="ion-padding-top" *ngIf="character">
      <ion-avatar>
        <img [src]="character.image" />
      </ion-avatar>
    </div>
  </div> -->
</ion-content>
