<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Back to character's list</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="6" sizeXl="6" offsetLg="3" offsetXl="3" class="ion-padding">
        <div *ngIf="!character" class="loading ion-text-center">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
        <ion-card class="ion-padding-top" *ngIf="character">
          <div class="ion-text-center">
            <img class="character-image" alt="{{character?.name}}" src="{{character?.image}}" />
          </div>
          <ion-card-header class="ion-text-center">
            <ion-card-title>{{character?.name}}</ion-card-title>
            <div [ngClass]="{'heart': true, 'is-active': isFavorite}" (click)="handleFavorites()"></div>
          </ion-card-header>
          <ion-card-content>
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>About the character</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <p><strong>Name:</strong> {{character?.name}}</p>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <div class="badge-container">
                        <p><strong>Gender: </strong></p>
                        <ion-badge
                          [ngClass]="{'badge-pill': true, 'blue-pill': character?.gender === 'Male', 'pink-pill': character?.gender === 'Female', 'gray-pill': character?.gender === 'unknown', 'unknown-pill': character?.gender === 'Genderless'}"
                          color="light">
                          <div
                            [ngClass]="{'circle': true, 'blue-circle': character?.gender === 'Male', 'pink-circle': character?.gender === 'Female', 'gray-circle': character?.gender === 'unknown', 'unknown-circle': character?.gender === 'Genderless'}">
                          </div>
                          {{character?.gender}}
                        </ion-badge>
                      </div>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <p><strong>First View:</strong> {{character?.origin.name}}</p>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <p><strong>Last View:</strong> {{character?.location.name}}</p>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <div class="badge-container">
                        <p><strong>Status: </strong></p>
                        <ion-badge
                          [ngClass]="{'badge-pill': true, 'green-pill': character?.status === 'Alive', 'gray-pill': character?.status === 'Dead'}"
                          color="light">
                          <div
                            [ngClass]="{'circle': true, 'green-circle': character?.status === 'Alive', 'gray-circle': character?.status === 'Dead'}">
                          </div>
                          {{character?.status}}
                        </ion-badge>
                      </div>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12">
                      <p><strong>Specie:</strong> {{character?.species}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>Episode List</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list class="list-container">
                  <ion-item *ngFor="let episode of characterEpisodes; let index">
                    <ion-label>
                      <p><strong>Name:</strong> {{ episode.name }}</p>
                      <p><strong>Episode:</strong> {{ episode.episode }}</p>
                      <p><strong>Air Date:</strong> {{ episode.air_date }}</p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
