ion-avatar {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  --border-radius: 20px;
}

.character-image {
  border-radius: 1rem;
}

.badge-container {
  display: flex;
  align-items: center;
}

.badge-pill {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  margin-left: 2px;
  border-radius: 20px;
  background-color: #fff;
  color: #fff;
}

.blue-pill {
  background-color: #3a58748d;
  color: #2489e7;
}

.pink-pill {
  background-color: #743a6a8d;
  color: #e72496;
}

.gray-pill {
  background-color: #5b5b5b70;
  color: #8a8a8a;
}

.green-pill {
  background-color: #5b5b5b70;
  color: #24e75b;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #fff;
}

.blue-circle {
  background-color: #2489e7;
}

.pink-circle {
  background-color: #e72496;
}

.gray-circle {
  background-color: #202020;
}

.green-circle {
  background-color: #24e75b;
}

.list-container {
  border-radius: 1rem;
}

.loading {
  transform: scale(3);
}
