<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Back to character's list</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="!favoriteCharacterList.length; else elseTemplate">
    <div class="no-character-text">
      <h4>There is no character saved in favorites...</h4>
     </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="ion-padding-horizontal">
      <h2>Favorite List</h2>
    </div>
    <ion-grid>
      <ion-row>
      <ion-col sizeLg="3" sizeMd="6" sizeSm="12" size="12" *ngFor="let characterObj of favoriteCharacterList" [routerLink]="['/character/' + characterObj?.character?.id]">
        <character [characterData]="characterObj.character"></character>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
 </ion-content>
