<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rick And Morty Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="8" sizeSm="9" sizeMd="10" size="11">
        <ion-searchbar show-clear-button="focus" class="searchbar" placeholder="Type your character name..." [(ngModel)]="params.name" (ionInput)="searchCharacter()"></ion-searchbar>
      </ion-col>
      <ion-col size="auto">
        <ion-button [routerLink]="['/filter']">
          <ion-icon name="filter-outline"></ion-icon>
        </ion-button>
        <ion-button color="favorite" [routerLink]="['/favorites']">
          <ion-icon class="favorite-button-icon" name="heart" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
    <ion-col sizeLg="3" sizeMd="6" sizeSm="12" size="12" *ngFor="let character of characters" [routerLink]="['/character/' + character.id]">

      <!-- <ion-card class="character-card">
        <img id="fit-image" alt="ram-chars" src="{{character.image}}" />
        <ion-card-content class="character-name-text ion-text-center">
          {{character.name}}
        </ion-card-content>
      </ion-card> -->
      <!-- !character component here -->
    </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="getCharacter($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more characters...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
