<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Back to character's list</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="6" sizeXl="6" offsetLg="3" offsetXl="3" class="ion-padding">
        <ion-card class="ion-padding-top">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Search filter</ion-card-title>
          </ion-card-header>
          <div class="button-container">
            <ion-button (click)="resetForm()" color="danger" [routerLink]="['/']">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </div>
          <ion-card-content>
            <ion-card-content>
              <form [formGroup]="characterFilter" (ngSubmit)="submitForm()">
                <ion-grid>
                  <ion-row>
                    <ion-col sizeMd="6" sizeXl="6" size="12" class="ion-padding">
                      <ion-card-subtitle class="ion-padding-bottom">By Gender</ion-card-subtitle>
                      <ion-radio-group formControlName="gender" [allowEmptySelection]="true" type="md">
                        <ion-item>
                          <ion-label>Male</ion-label>
                          <ion-radio slot="start" value="male" color="success"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Female</ion-label>
                          <ion-radio slot="start" value="female" color="success"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Unknown</ion-label>
                          <ion-radio slot="start" value="unknown" color="success"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Genderless</ion-label>
                          <ion-radio slot="start" value="genderless" color="success"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12" class="ion-padding">
                      <ion-card-subtitle class="ion-padding-bottom">By Specie</ion-card-subtitle>
                      <ion-radio-group formControlName="species" [allowEmptySelection]="true">
                        <ion-item>
                          <ion-label>Human</ion-label>
                          <ion-radio slot="start" value="human" color="success"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Alien</ion-label>
                          <ion-radio slot="start" value="alien" color="success"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Animal</ion-label>
                          <ion-radio slot="start" value="animal" color="success"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Unknown</ion-label>
                          <ion-radio slot="start" value="unknown" color="success"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-col>
                    <ion-col sizeMd="6" sizeXl="6" size="12" class="ion-padding">
                      <ion-card-subtitle class="ion-padding-bottom">By Status</ion-card-subtitle>
                      <ion-radio-group formControlName="status" [allowEmptySelection]="true">
                        <ion-item>
                          <ion-label>Alive</ion-label>
                          <ion-radio slot="start" value="alive" color="success"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Dead</ion-label>
                          <ion-radio slot="start" value="dead" color="success"></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>Unknown</ion-label>
                          <ion-radio slot="start" value="unknown" color="success"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-button type="submit" color="success" expand="block" [routerLink]="['/']">Apply filter</ion-button>
              </form>
            </ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
